<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">

	<variable name="appName" value="testDLLrecordsNatacion" />
	
	<variable name="logDirectory" value="C:/Users/crist/Downloads/logs/" />
	
	<targets async="true">
		<target xsi:type="File"
				name="default"
				layout="${longdate} - ${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
				fileName="${specialfolder:ApplicationData}\Logs\${appName}\Debug.log"
				keepFileOpen="false"
				archiveFileName="${specialfolder:folder=ApplicationData}\Logs\${appName}\Debug_${shortdate}.{##}.log"
				archiveNumbering="Sequence"
				archiveEvery="Day"
				maxArchiveFiles="30"
        />

		<target xsi:type="File"
			name="errorFile"
			layout="${longdate} - ${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
			fileName="${specialfolder:ApplicationData}\${appName}\Error.log"
			keepFileOpen="false"
			archiveFileName="${logDirectory}\${appName}\Error_${shortdate}.{##}.log"
			archiveNumbering="Sequence"
			archiveEvery="Day"
			maxArchiveFiles="30"
        />

		<!--
		<target xsi:type="EventLog"
				name="eventlog"
				source="${appName}"
				layout="${message}${newline}${exception:format=ToString}"
		/>

		<target name="control" xsi:type="FormControl" append="true"
			controlName="txtLog" formName="FormPrincipal"
			layout="${time} ${level:uppercase=true} ${message}${newline}"
		/>

		<target name="controlErrores" xsi:type="FormControl" append="true"
			controlName="txtLogErrores" formName="FormPrincipal"
			layout="${message}${newline}"
			/>

		<target name="Mail" xsi:type="Mail"
				html="false"
				subject="Error de sincronización ${appName}"
				body="${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
				to="alfonso@uritec.es"
				from="sincronizador@uritec.es"
				encoding="UTF-8"
				smtpUserName="sincronizador@uritec.es"
				enableSsl="false"
				smtpPassword="FGM923jwmxc7"
				smtpAuthentication="Basic"
				smtpServer="smtp.uritec.es"
				smtpPort="587"
		/>
		-->

	</targets>
	<rules>
		<logger name="*" writeTo="default" minlevel="Trace" />
		<logger name="*" writeTo="errorFile" minlevel="Error" />
		
		<!-- 
		<logger name="*" writeTo="control" minlevel="Trace" />
		<logger name="*" writeTo="controlErrores" minlevel="Error"  />
		<logger name="*" writeTo="eventlog" minlevel="Error" /> 
		<logger name="*" writeTo="Mail" level="Fatal" />
		-->
	</rules>
</nlog>